/* style.css */

body {
    font-family: sans-serif;
    background: green;
}

#container {
    margin: auto;
    width: 40%;
    max-width: 900px;
    padding: 2vh 2vw;
    text-align: center;
    background: white;
    border-radius: 20px;
}

#container h1 {
    margin-bottom: 4vh;
}

#messagelog {
    border-radius: 15px;
    resize: none;
    width: 80%;
    margin: 0 0;
    color: black;
}

input {
    padding: 1vh;
    margin: 0.5vh;
    border-radius: 15px;
}

#text {
    width: 70%;
}

button {
    border: none;
    background-color: green;
    color: white;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

button:hover {
    background-color: darkgreen;
}

footer {
    text-align: center;
    font-size: small;
    margin-top: 5vh;
    color: #4f4f4fFF;
}

footer p {
    margin: 0.2rem;
}

a:link, a:visited {
    color: #4f4f4f;
}

a:hover, a:active {
    color: #000000;
}

@media screen and (max-width: 800px) {
    #container {
        width: 90%;
    }
}
